Package: simple-initiative-tracker
Version: 1.0.0rc6
Section: games
Priority: optional
Architecture: all
Depends: python3 (>= 3.10), python3-gi, gir1.2-gtk-4.0 (>= 4.10)
Maintainer: Thomas Hall (hall.thomas.010@gmail.com)
Description: Simple Initiative Tracker
 A lightweight GTK4 combat initiative tracker for tabletop games.
 Tracks creature hitpoints, armor class, and turn order, with support
 for dice-notation and arithmetic expressions, CSV import/export, and
 undo/redo. Supports some (hacked-together) Cinnamon theming.
